*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg,#494dba,#14223f);
}
.container{
    margin: 12%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;

}
.container h1{
    font-size: 70px;
    font-weight: 50;
    color:#000b18;
    text-decoration:underline;
    margin-bottom: 22px;
}
.input input{
    width: 50%;
    padding: 35px;
    border: none;
    outline: none;
    flex: 1;
    font-size: 24px;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 32px;
    color: #fff;
}
.input img{
    height: 30px;
    cursor: pointer;
}
.container button{
    padding: 15px 26px;
    font-size: 24px;
   border:none;
   border-radius: 5px;
 display: flex;
 justify-content: center;
 align-items: center;
 background: linear-gradient(135deg,#700,#3700b3);
 cursor: pointer;

}
button img{
    height: 30px;
    margin-right: 7px;
}